.modal {
  background-color: var(--main-background-hex);
  display: flex;
  flex: 1;
  max-width: 420px;
  min-height: 420px;
  align-self: center;
  justify-self: center;
  border-radius: 12px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.5));
}

.title {
  color: var(--main-text-hex);
  font-size: 24px;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px;
  gap: 18px;
}

.inputContainer {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .modal {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
