.container {
  background-color: var(--note-hex);
  display: flex;
  flex-direction: column;
  padding: 18px;
  min-height: 240px;
  border-radius: 4px;
  justify-content: space-between;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  color: var(--main-background-hex);
  font-size: 18px;
}

.title {
  font-weight: 600;
  padding-bottom: 18px;
  text-decoration: underline;
}

.date {
  display: flex;
}

.dateContainer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
