.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--main-text-hex);
}

.title {
  font-size: xx-large;
  font-weight: bold;
}
