.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--main-text-hex);
}

@media (max-width: 768px) {
  .main {
    padding: 24px;
  }
}
