.error {
  color: red;
  font-size: small;
  padding-top: 4px;
}

.helperText {
  color: var(--main-text-hex);
  font-size: small;
  padding-top: 4px;
}

.container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.input {
  min-height: 42px;
  min-width: 260px;
  padding-left: 4px;
  color: var(--main-text-hex);
  background-color: var(--alt-background-hex);
  border-style: none;
  border-radius: 4px;
  font-size: 18px;
}

.input::placeholder {
  color: var(--main-text-hex);
  opacity: 65%;
}

.inputError {
  min-height: 36px;
  min-width: 260px;
  padding-left: 4px;
  color: var(--main-text-hex);
  background-color: var(--alt-background-hex);
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 4px;
}

.title {
  padding-bottom: 4px;
}
