.title {
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 12px;
  text-transform: capitalize;
}

.activityContainer {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}

.notesContainer {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  width: 100%;
}

@media (max-width: 768px) {
  .activityContainer {
    flex-direction: column;
    gap: 4px;
    padding-bottom: 12px;
  }
  .notesContainer {
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
