.button {
  display: flex;
  background-color: #fff;
  border: solid 1px var(--main-background-hex);
  color: var(--main-text-hex);
  font-weight: 700;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
  justify-content: center;
  cursor: pointer;
  max-height: 50px;
  min-width: 200px;
}

.button:hover {
  background-color: var(--accent-light-bg);
}

.dark {
  background-color: var(--alt-background-hex);
  color: #fff;
}

.dark:hover {
  background-color: var(--main-background-hex);
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}
