.button {
  display: flex;
  background-color: var(--main-text-hex);
  border-color: var(--alt-text-dark-hex);
  color: var(--main-background-hex);
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
}

.dark {
  background-color: var(--main-background-hex);
  color: var(--main-text-hex);
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}
