.button {
  display: flex;
  background-color: var(--main-text-hex);
  border-color: var(--alt-text-dark-hex);
  color: var(--main-background-hex);
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
}
